.u-section-1 {
  min-height: 1030px;
  background-image: url("images/gr4.png");
  background-position: 50% 50%;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 13px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 41px auto 0 0;
  padding: 16px 54px 16px 53px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  object-position: 50% 6.59%;
  background-position: 50% 6.59%;
  width: 616px;
  height: 669px;
  margin: 0 auto -132px -62px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 373px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 45px;
  width: 45px;
  margin: 26px auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 373px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 45px;
  width: 45px;
  margin: 26px auto 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 373px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 45px;
  width: 45px;
  margin: 26px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 896px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 459px;
  }

  .u-section-1 .u-image-1 {
    width: 496px;
    height: 511px;
    margin-bottom: -83px;
    margin-left: -42px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 307px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 307px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 686px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 406px;
    height: 432px;
    margin-bottom: -95px;
    margin-left: -62px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 515px;
    background-position: 35.68% 0%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-1 .u-image-1 {
    width: 504px;
    height: 671px;
    margin-top: 31px;
    margin-bottom: -232px;
    margin-left: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 324px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 371px;
    height: 543px;
    margin: -32px -16px -259px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}.u-section-2 {
  min-height: 689px;
}

.u-section-2 .u-image-1 {
  height: 364px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-list-1 {
  width: 1119px;
  min-height: 354px;
  grid-template-rows: auto;
  height: auto;
  grid-auto-rows: 100%;
  margin: -69px auto 40px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: 100%;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 236px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: auto;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 191px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 237px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 543px;
  }

  .u-section-2 .u-image-1 {
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    width: 922px;
    min-height: 334px;
    margin-top: -78px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 57px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 12px;
  }

  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1133px;
  }

  .u-section-2 .u-list-1 {
    width: 709px;
    min-height: 767px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.66667px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1366px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    min-height: 1020px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1133px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    min-height: 642px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-3 {
  background-image: url("images/sdff-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 776px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 396px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 631px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 51px 0 60px 721px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 431px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 521px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 211px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 31px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 121px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/sdf-min.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-group-1 {
  width: 309px;
  min-height: 81px;
  margin: 60px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-image-1 {
  width: 53px;
  height: 53px;
  background-image: url("images/portrait-white-man-isolated_53876-40306.jpg");
  background-position: 50% 50%;
  margin: 14px auto 0 7px;
}

.u-section-4 .u-text-1 {
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: -39px 0 0 80px;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  width: 861px;
  font-weight: 700;
  margin: 48px auto 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.4;
  width: 714px;
  font-weight: 300;
  font-size: 1.875rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  margin: 32px auto 0;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  width: 589px;
  margin: 48px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 718px;
  margin: 66px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 78px;
}

.u-section-4 .u-container-layout-2 {
  padding: 8px 20px 8px 30px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  border-style: solid;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 0 auto;
  padding: 15px 41px 15px 40px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 78px;
}

.u-section-4 .u-container-layout-3 {
  padding: 8px 30px 8px 20px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  letter-spacing: 1px;
  border-style: solid;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    margin-left: 31px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 99px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Untitled-1-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 760px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  width: 742px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px 488px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-list-1 {
  min-height: 203px;
  grid-template-rows: auto;
  height: auto;
  grid-auto-rows: 100%;
  margin: 40px auto 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(25% - 23.25px);
  grid-template-columns: calc(25% - 23.25px) calc(25% - 23.25px) calc(25% - 23.25px) calc(25% - 23.25px);
  grid-auto-rows: 100%;
  grid-gap: 31px 31px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: center;
  margin: 50px auto 60px 488px;
  padding: 15px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 388px;
    margin-right: 388px;
  }

  .u-section-5 .u-list-1 {
    min-height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 23.25px));
  }

  .u-section-5 .u-btn-2 {
    margin-left: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 278px;
    margin-right: 278px;
  }

  .u-section-5 .u-list-1 {
    min-height: 395px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15.5px);
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    grid-auto-rows: calc(50% - 15.5px);
  }

  .u-section-5 .u-btn-2 {
    margin-top: 40px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 188px;
    margin-right: 188px;
  }

  .u-section-5 .u-list-1 {
    min-height: 203px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 88px;
    margin-right: 88px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 23.25px);
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/dsdddd.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 1033px;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  width: 861px;
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 398px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  width: 589px;
  margin: 10px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  letter-spacing: 3px;
  border-style: solid;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 58px auto 60px;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 852px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 513px;
    height: 317px;
    margin-top: 35px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 90px;
  }

  .u-section-6 .u-image-1 {
    width: 468px;
    height: 254px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: 272px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    width: 295px;
    height: 160px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 34px;
  }
}.u-section-7 {
  background-image: linear-gradient(black, #2b0be7);
}

.u-section-7 .u-sheet-1 {
  min-height: 1478px;
}

.u-section-7 .u-text-1 {
  font-family: Candal;
  width: 817px;
  margin: 76px auto 0;
}

.u-section-7 .u-shape-1 {
  width: 665px;
  height: 527px;
  margin: 667px 27px 0 auto;
}

.u-section-7 .u-shape-2 {
  width: 830px;
  height: 833px;
  margin: -1117px auto 0 64px;
}

.u-section-7 .u-shape-3 {
  height: 1077px;
  width: 1096px;
  margin: -860px auto 0 10px;
}

.u-section-7 .u-list-1 {
  min-height: 646px;
  width: 654px;
  height: auto;
  grid-auto-rows: 100%;
  margin: -846px 233px 60px auto;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(50% - 9px);
  grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  grid-auto-rows: calc(50% - 9px);
  grid-gap: 18px 18px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-7 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-7 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px;
}

.u-section-7 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-7 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-7 .u-shape-1 {
    height: 509px;
    margin-right: 0;
  }

  .u-section-7 .u-shape-2 {
    width: 684px;
  }

  .u-section-7 .u-shape-3 {
    height: 1087px;
    width: 995px;
    margin-top: -800px;
    margin-left: -17px;
  }

  .u-section-7 .u-list-1 {
    min-height: 748px;
    width: 539px;
    margin-top: -953px;
    margin-right: auto;
    margin-left: 168px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1416px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 637px;
    margin-right: -50px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -1087px;
    margin-left: -50px;
  }

  .u-section-7 .u-shape-3 {
    height: 975px;
    width: 915px;
    margin-left: -145px;
  }

  .u-section-7 .u-list-1 {
    min-height: 819px;
    width: 692px;
    margin-top: -915px;
    margin-left: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1925px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-7 .u-shape-1 {
    width: 540px;
    margin-top: 1106px;
    margin-right: -85px;
  }

  .u-section-7 .u-shape-2 {
    width: 540px;
    margin-top: -1555px;
  }

  .u-section-7 .u-shape-3 {
    height: 1506px;
    width: 867px;
    margin-left: -201px;
  }

  .u-section-7 .u-list-1 {
    min-height: 1208px;
    width: 443px;
    margin-top: -1412px;
    margin-bottom: 280px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 13.5px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1951px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 70px;
    width: 340px;
  }

  .u-section-7 .u-shape-1 {
    height: 569px;
    width: 507px;
    margin-top: 1028px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-7 .u-shape-2 {
    width: 440px;
    height: 774px;
    margin-top: -1549px;
    margin-right: -50px;
  }

  .u-section-7 .u-shape-3 {
    height: 1504px;
    width: 713px;
    margin-top: -694px;
    margin-left: -230px;
  }

  .u-section-7 .u-list-1 {
    min-height: 1302px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-8 {
  background-image: none;
  min-height: 989px;
}

.u-section-8 .u-shape-1 {
  height: 285px;
  margin-top: 283px;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  width: 723px;
  height: 447px;
  object-position: 50% 100%;
  background-position: 50% 100%;
  margin: -488px auto 0 calc(((100% - 1140px) / 2) + 156px);
}

.u-section-8 .u-image-2 {
  height: 560px;
  object-position: 0% 65.31%;
  background-position: 0% 65.31%;
  width: 412px;
  margin: -178px auto 0 calc(((100% - 1140px) / 2) + 42px);
}

.u-section-8 .u-group-1 {
  width: 441px;
  min-height: 481px;
  margin: -560px calc(((100% - 1140px) / 2) + 46px) -286px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 21px 52px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 1012px;
  }

  .u-section-8 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 156px);
  }

  .u-section-8 .u-image-2 {
    height: 480px;
    width: 353px;
    margin-left: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-8 .u-group-1 {
    width: 452px;
    min-height: 493px;
    margin-top: -389px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: -338px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 1013px;
  }

  .u-section-8 .u-shape-1 {
    height: 305px;
    margin-top: 60px;
  }

  .u-section-8 .u-image-1 {
    width: 672px;
    height: 448px;
    margin-top: -508px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-image-2 {
    height: 370px;
    width: 272px;
    margin-top: -179px;
    margin-left: calc(((100% - 720px) / 2) + 42px);
  }

  .u-section-8 .u-group-1 {
    width: 360px;
    min-height: 475px;
    margin-top: -261px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: -143px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 1190px;
  }

  .u-section-8 .u-shape-1 {
    height: 203px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 360px;
    margin-top: -406px;
    margin-left: auto;
  }

  .u-section-8 .u-image-2 {
    height: 437px;
    width: 321px;
    margin-top: -119px;
    margin-left: calc(((100% - 540px) / 2) + 61px);
  }

  .u-section-8 .u-group-1 {
    width: 418px;
    min-height: 451px;
    margin-top: -99px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 1068px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: -295px;
  }

  .u-section-8 .u-image-2 {
    height: 382px;
    width: 280px;
    margin-top: -71px;
    margin-left: calc(((100% - 340px) / 2) + 19px);
  }

  .u-section-8 .u-group-1 {
    width: 287px;
    min-height: 521px;
    margin-top: -121px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: -33px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-3 {
    margin-right: 14px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 952px;
}

.u-section-9 .u-shape-1 {
  width: 404px;
  left: auto;
  right: 114px;
}

.u-section-9 .u-image-1 {
  width: 808px;
  height: 690px;
  margin: 60px 0 0 auto;
}

.u-section-9 .u-group-1 {
  width: 523px;
  min-height: 366px;
  background-image: none;
  margin: -345px auto 60px 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 25px 30px;
}

.u-section-9 .u-text-1 {
  line-height: 1.3;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-9 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0 0;
  padding: 14px 49px 16px 48px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-9 .u-shape-1 {
    height: 906px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 114px 0 auto;
  }

  .u-section-9 .u-image-1 {
    margin-top: -846px;
  }

  .u-section-9 .u-group-1 {
    width: 441px;
    margin-top: -313px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2rem;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-9 .u-image-1 {
    width: 632px;
    height: 615px;
  }

  .u-section-9 .u-group-1 {
    width: 410px;
    min-height: 378px;
    margin-top: -238px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-9 .u-shape-1 {
    height: 851px;
    margin-right: 49px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 525px;
    margin-top: -791px;
  }

  .u-section-9 .u-group-1 {
    min-height: 360px;
    margin-top: -148px;
    margin-bottom: 54px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-9 .u-shape-1 {
    width: 264px;
    height: 704px;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 331px;
    margin-top: -644px;
  }

  .u-section-9 .u-group-1 {
    min-height: 356px;
    width: 302px;
    margin-top: -87px;
    margin-bottom: 44px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-10 {
  background-image: linear-gradient(0deg, rgba(71,138,201,0.4), rgba(71,138,201,0.4)), url("images/s-min1.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 718px;
}

.u-section-10 .u-list-1 {
  min-height: 414px;
  height: auto;
  width: 1060px;
  grid-auto-rows: 100%;
  margin: 60px auto 0;
}

.u-section-10 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-auto-rows: calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-1 {
  width: 403px;
  min-height: 144px;
  margin: -65px 0 0 auto;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-10 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.u-section-10 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-2 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-10 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-10 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.u-section-10 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-3 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-10 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-10 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.u-section-10 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-10 .u-list-item-4 {
  background-image: none;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px;
}

.u-section-10 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-4 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-10 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-10 .u-text-7 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.u-section-10 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-10 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 30px 456px 0;
}

.u-section-10 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px auto 60px;
  padding: 15px 46px 15px 45px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-10 .u-list-1 {
    min-height: 468px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-10 .u-group-1 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-10 .u-group-2 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-10 .u-group-3 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-10 .u-group-4 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-10 .u-text-9 {
    margin-left: 356px;
    margin-right: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-list-1 {
    min-height: 414px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-10 .u-group-1 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-10 .u-group-2 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-10 .u-group-3 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-10 .u-group-4 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-10 .u-text-9 {
    margin-left: 246px;
    margin-right: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-group-1 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-group-2 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-group-3 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-group-4 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-9 {
    margin-left: 156px;
    margin-right: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 7.5px);
  }

  .u-section-10 .u-group-1 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-10 .u-group-2 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-10 .u-group-3 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-10 .u-group-4 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-bottom: 29px;
  }

  .u-section-10 .u-text-9 {
    margin-left: 56px;
    margin-right: 56px;
  }
}.u-section-11 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 711px;
}

.u-section-11 .u-slider-1 {
  width: 533px;
  min-height: 394px;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-11 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  left: 0;
  right: auto;
  bottom: -21px;
}

.u-section-11 .u-carousel-item-1 {
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-11 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-11 .u-text-3 {
  margin: 20px 257px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-11 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  margin: 26px auto 0 0;
}

.u-section-11 .u-carousel-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 65px;
}

.u-section-11 .u-text-4 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

.u-section-11 .u-text-5 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-11 .u-text-6 {
  margin: 0 -65px;
}

.u-section-11 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-11 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  margin: 26px auto 0 0;
}

.u-section-11 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
}

.u-section-11 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-11 .u-text-3 {
    width: 151px;
    margin-right: 57px;
  }

  .u-section-11 .u-text-6 {
    width: 151px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-11 .u-slider-1 {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-11 .u-slider-1 {
    width: 413px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-11 .u-text-4 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-11 .u-slider-1 {
    width: 303px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-11 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-text-4 {
    font-size: 3rem;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 1218px;
}

.u-section-12 .u-shape-1 {
  width: 894px;
  background-image: none;
  height: 1058px;
  margin: 60px auto 0;
}

.u-section-12 .u-gallery-1 {
  width: 595px;
  height: 844px;
  grid-gap: 10px;
  margin: -941px auto 0 48px;
}

.u-section-12 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 16px;
}

.u-section-12 .u-back-image-1 {
  object-position: 100% 50%;
}

.u-section-12 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-group-1 {
  width: 497px;
  min-height: 337px;
  margin: -844px 0 0 auto;
}

.u-section-12 .u-container-layout-1 {
  padding: 0 20px 30px;
}

.u-section-12 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 284px 0 0;
}

.u-section-12 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-12 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 35px auto 0 0;
}

.u-section-12 .u-group-2 {
  width: 605px;
  min-height: 287px;
  background-image: none;
  margin: 117px 0 260px auto;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-12 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-12 .u-shape-1 {
    width: 682px;
    height: 906px;
    margin-top: 80px;
    margin-left: 99px;
  }

  .u-section-12 .u-gallery-1 {
    width: 533px;
    height: 756px;
    margin-top: -835px;
    margin-left: 0;
  }

  .u-section-12 .u-group-1 {
    width: 384px;
    min-height: 330px;
    margin-top: -756px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 171px;
  }

  .u-section-12 .u-group-2 {
    margin-top: 62px;
    margin-bottom: -901px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-12 .u-shape-1 {
    width: 567px;
    height: 1418px;
    margin-left: 38px;
  }

  .u-section-12 .u-gallery-1 {
    height: 908px;
    margin-top: -1020px;
  }

  .u-section-12 .u-group-1 {
    width: 514px;
    margin-top: -1258px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 301px;
  }

  .u-section-12 .u-group-2 {
    width: 480px;
    min-height: 290px;
    margin-top: 855px;
    margin-bottom: 70px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 3658px;
  }

  .u-section-12 .u-shape-1 {
    width: 460px;
    height: 1789px;
    margin-top: 60px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-12 .u-gallery-1 {
    width: 480px;
    height: 2895px;
    margin-top: -1346px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-12 .u-group-1 {
    margin-top: -3261px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-group-2 {
    margin-top: 2800px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 2647px;
  }

  .u-section-12 .u-shape-1 {
    width: 305px;
    height: 1681px;
  }

  .u-section-12 .u-gallery-1 {
    width: 305px;
    height: 1956px;
    margin-top: -1251px;
  }

  .u-section-12 .u-group-1 {
    min-height: 358px;
    margin-top: -2349px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-text-2 {
    margin-right: 127px;
  }

  .u-section-12 .u-group-2 {
    min-height: 203px;
    width: 305px;
    margin-top: 1910px;
  }

  .u-section-12 .u-text-3 {
    font-size: 2.8125rem;
  }
}.u-section-13 {
  min-height: 500px;
  background-image: url("images/000.png");
}

@media (max-width: 1199px) {
  .u-section-13 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-13 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-13 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-13 {
    min-height: 149px;
  }
}